<div class="container">
    <div class="footer-inner">
        <!-- Footer Top -->
        <div class="footer-top">
            <!-- Logo -->
            <a href="./" class="logo footer-logo">
                <img src="./assets/img/logo.svg" alt="Grocery Mart" class="logo__image" />
                <p class="logo__text">grocerymart</p>
            </a>
        </div>

        <!-- Footer Body -->
        <div class="footer-body">
            <!-- Footer Body Left -->
            <div class="footer-body__left">
                <!-- Footer Menu List -->
                <div class="row row-col-3 row-col-md-1">
                    <!-- Footer Menu Col 1 -->
                    <div class="col">
                        <div class="footer-menu__column">
                            <p class="footer-menu__title">COMPANY</p>
                            <ul class="footer-menu__list">
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">About</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">Features</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">Works</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">Career</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Menu Col 2 -->
                    <div class="col">
                        <div class="footer-menu__column">
                            <p class="footer-menu__title">HELP</p>
                            <ul class="footer-menu__list">
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">Customer Support</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">Delivery Details</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">Terms & Conditions</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Menu Col 3 -->
                    <div class="col">
                        <div class="footer-menu__column">
                            <p class="footer-menu__title">RESOURCES</p>
                            <ul class="footer-menu__list">
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">Free eBooks</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">Development Tutorial</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">How to - Blog</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a href="#!" class="footer-menu__link">Youtube Playlist</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Body Right -->
            <div class="footer-body__right">
                <p class="footer-menu__title">Subscribe to newsletter</p>
                <form action="" class="form footer-form">
                    <div class="form__group footer-form__group">
                        <input type="email" name="" id="" class="form__input footer-form__input" placeholder="Enter email address" />
                        <button type="submit" class="form__btn footer-form__btn">Join</button>
                    </div>
                </form>
                <div class="footer-info">
                    <div class="footer-info__col">
                        <p class="footer-info__label">Call us</p>
                        <a href="tel:+14564933" class="footer-info__value">(+1) 456-4933</a>
                    </div>
                    <div class="footer-info__col">
                        <p class="footer-info__label">Email us</p>
                        <a href="mailto:mail@example.com" class="footer-info__value">mail@example.com</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <p class="copyright">© Copyright 2024, All Rights Reserved</p>

            <!-- Social List -->
            <div class="social footer-social">
                <!-- Social item 1 -->
                <a href="#!" class="social__item">
                    <img src="./assets/icons/x.svg" alt="X" class="social__item-icon icon" />
                </a>

                <!-- Social item 1 -->
                <a href="#!" class="social__item">
                    <img src="./assets/icons/facebook.svg" alt="Facebook" class="social__item-icon icon" />
                </a>

                <!-- Social item 1 -->
                <a href="#!" class="social__item">
                    <img src="./assets/icons/instagram.svg" alt="instagram" class="social__item-icon icon" />
                </a>

                <!-- Social item 1 -->
                <a href="#!" class="social__item">
                    <img src="./assets/icons/github.svg" alt="GitHub" class="social__item-icon icon" />
                </a>
            </div>
        </div>
    </div>
</div>
