<div class="container">
    <div class="header-inner">
        <!-- Menu bar icon -->
        <button class="menu-bar__icon d-none d-lg-flex">
            <img src="./assets/icons/menu-bar.svg" alt="" class="menu-bar__icon-img icon" />
        </button>

        <!-- Logo -->
        <a href="./" class="logo header__logo">
            <img src="./assets/img/logo.svg" alt="Grocery Mart" class="logo__image header__logo-image" />
            <p class="logo__text header__logo-text">grocerymart</p>
        </a>

        <!-- Nav bar Menu-->
        <nav class="navbar-menu d-lg-none">
            <ul class="navbar-menu__list">
                <li class="navbar-menu__item">
                    <a href="#!" class="navbar-menu__item-link">
                        Departments
                        <img src="./assets/icons/arrow-down.svg" alt="" class="navbar-menu__item-icon icon" />
                    </a>
                </li>
                <li class="navbar-menu__item">
                    <a href="#!" class="navbar-menu__item-link">
                        Grocery
                        <img src="./assets/icons/arrow-down.svg" alt="" class="navbar-menu__item-icon icon" />
                    </a>
                </li>
                <li class="navbar-menu__item">
                    <a href="#!" class="navbar-menu__item-link">
                        Beauty
                        <img src="./assets/icons/arrow-down.svg" alt="" class="navbar-menu__item-icon icon" />
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Top act -->
        <div class="top-act">
            <!-- Top act wrap 1 -->
            <div class="top-act__wrap d-lg-none">
                <button class="top-act__btn">
                    <img src="./assets/icons/search.svg" alt="" class="top-act__btn-icon icon" />
                </button>
            </div>

            <!-- Top act wrap 2 -->
            <div class="top-act__wrap top-act__wrap--double d-md-none">
                <button class="top-act__btn">
                    <img src="./assets/icons/heart.svg" alt="" class="top-act__btn-icon icon" />
                    <span class="top-act__btn-text">03</span>
                </button>
                <button class="top-act__btn">
                    <img src="./assets/icons/buy.svg" alt="" class="top-act__btn-icon icon" />
                    <span class="top-act__btn-text">$65.42</span>
                </button>
            </div>

            <!-- Top act User -->
            <div class="top-act__user">
                <img src="../assets/img/user/avatar-1.png" alt="Imran Khan" class="top-act__user-avatar" />
            </div>
        </div>
    </div>
</div>
