@use "../abstracts";

.auth {
    position: relative;
    display: flex;
    min-height: 100vh;

    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }

    &-media,
    &-content {
        flex: 1;
    }

    // Auth media
    &-media {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 24px;
        background-color: var(--auth-media-bg-color);

        &__image {
            width: min(422px, 100%);

            &-img {
                width: 100%;
            }

            @include abstracts.screen(md) {
                width: min(314px, 100%);
            }
        }

        &__text {
            margin-top: 50px;
            max-width: 412px;

            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
            color: var(--auth-media-text-color);

            @include abstracts.screen(md) {
                font-size: 1.5rem;
                line-height: 146.667%;
            }
        }

        &__logo,
        &__next-step {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &__logo {
            top: 80px;
        }

        &__next-step {
            bottom: 50px;

            width: 75px;

            &-icon {
                width: 100%;
                filter: brightness(0) saturate(100%) invert(95%) sepia(24%) saturate(6166%) hue-rotate(156deg) brightness(95%) contrast(89%);
            }
        }
    }

    // Auth content
    &-content {
        padding: 50px 24px;
        background-color: var(--auth-content-bg-color);

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            overflow-y: auto;
            transition: translate 0.3s;

            padding: 24px;

            // Mặc định là ẩn Auth content
            // Khi JavaScript tác động để mất .hide đi thì
            // translate sẽ về 0 (.auth-content lại hiện ra)
            &.hide {
                translate: 100%;
            }
        }

        &__inner {
            display: flex;
            align-items: center;
            flex-direction: column;

            margin: 0 auto;
            width: min(460px, 100%);
        }

        &__heading {
            margin-top: 50px;

            text-align: center;
            font-size: 3rem;
            font-weight: 500;
            line-height: 146.667%;

            color: var(--auth-content-heading-color);

            @include abstracts.screen(md) {
                margin-top: 10px;
                font-size: 2.2rem;
                line-height: 145.455%;
            }
        }

        &__desc {
            margin-top: 10px;
            padding: 0 20px;

            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            color: #9e9da8;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
                line-height: 142.857%;
            }
        }

        &__message {
            &--success {
                margin-top: 20px;
            }
        }
    }

    &-form {
        margin-top: 60px;
        width: 100%;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &__group + &__group {
            margin-top: 30px;

            @include abstracts.screen(md) {
                margin-top: 20px;
            }
        }

        &__input {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.screen(md) {
                font-size: 1.6rem;
                line-height: 150%;
            }

            &::placeholder {
                color: var(--auth-form-input-placeholder-color);
            }

            &-wrap {
                height: 50px;
                border-radius: 10px;

                @include abstracts.screen(md) {
                    height: 48px;
                }
            }
        }

        &__link {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            color: #0071dc;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
                line-height: 142.857%;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &__checkbox {
            &-input {
                display: none;
            }

            &-label {
                display: flex;
                align-items: center;
                height: 20px;

                position: relative;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 146.667%;
                color: #9e9da8;

                cursor: pointer;

                @include abstracts.screen(md) {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 142.857%;
                }
            }

            &-label::before,
            &-label::after {
                content: "";
            }

            &-label::before {
                flex-shrink: 0;
                display: inline-block;
                margin-right: 10px;
                width: 20px;
                height: 20px;

                border-radius: 5px;
                border: 1.5px solid #9e9da8;

                .auth-form__checkbox-input:checked ~ & {
                    background-color: #ffb700;
                    border-color: #ffb700;
                }
            }

            &-label::after {
                display: none;
                position: absolute;
                top: 5px;
                left: 4px;
                width: 13px;
                height: 8px;
                border-left: 3px solid #fff;
                border-bottom: 3px solid #fff;
                rotate: -45deg;

                .auth-form__checkbox-input:checked ~ & {
                    display: block;
                }
            }
        }

        &__group-btn {
            margin-top: 50px;

            @include abstracts.screen(md) {
                margin-top: 20px;
            }
        }

        &__btn {
            gap: 10px;

            width: 100%;
            height: 50px;
            border-radius: 10px;

            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            & + & {
                margin-top: 30px;

                @include abstracts.screen(md) {
                    margin-top: 20px;
                }
            }

            &--with-google {
                color: var(--auth-form-btn-with-google-color);

                &-icon {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                    filter: var(--auth-form-btn-with-google-icon-filter);
                }
            }
        }

        &__reset-pass {
            margin-top: 20px;
        }
    }

    &-text {
        margin-top: 108px;

        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;
        color: #9e9da8;

        @include abstracts.screen(md) {
            margin-top: 30px;

            font-size: 1.6rem;
            line-height: 150%;
        }

        &__link {
            margin-left: 10px;

            font-size: inherit;
            font-weight: 500;
            color: #0071dc;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
