@use "../abstracts";

.checkout-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    @include abstracts.screen(md) {
        padding-bottom: 40px;
    }

    &__section {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }

    &__breadcrumbs {
        background-color: var(--checkout-page-info-bg-color);
    }
}

.checkout-info {
    padding: 30px;

    border-radius: 20px;
    background: var(--checkout-page-info-bg-color);
    box-shadow: 0px 20px 60px 10px var(--checkout-page-info-shadow-color);

    @include abstracts.screen(md) {
        padding: 16px;
    }

    & + & {
        margin-top: 30px;
    }

    &__label {
        &--small {
            font-weight: 400;
        }
    }

    &__btn {
        margin-top: 20px;
        width: 100%;
        height: 46px;
        font-size: 1.8rem;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }
}

.checkout-list {
    margin-top: -30px;

    @include abstracts.screen(md) {
        margin-top: -16px;
    }
}

.checkout-item {
    display: flex;
    gap: 30px;

    padding: 30px 0;
    border-bottom: 1px solid var(--checkout-page-border-color);

    @include abstracts.screen(xl) {
        gap: 10px;
    }

    @include abstracts.screen(lg) {
        gap: 30px;
    }

    @include abstracts.screen(md) {
        gap: 16px;
        padding: 16px 0;

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &__thumb {
        width: 172px;
        height: 172px;

        @include abstracts.screen(xxl) {
            width: 150px;
            height: 150px;
        }

        @include abstracts.screen(xl) {
            width: 60px;
            height: 60px;
        }

        @include abstracts.screen(lg) {
            width: 110px;
            height: 110px;
        }

        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__content {
        align-self: flex-start;
        display: flex;
        flex: 1;

        @include abstracts.screen(md) {
            flex-direction: column;
            row-gap: 16px;
        }

        &-left {
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;
        }
    }

    &__heading {
        max-width: 374px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__price {
        margin: 16px 0;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: #9e9da8;

        &-total {
            text-align: right;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 145.455%;

            @include abstracts.screen(md) {
                text-align: left;
                margin-bottom: 10px;
            }
        }
    }

    &__status {
        color: #67b044;
    }

    &__ctrl {
        display: flex;
        align-items: center;
        gap: 20px;

        margin-top: auto;
        min-height: 44px;

        &--block {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: flex-start;
                row-gap: 10px;
            }
        }
    }

    &__input {
        display: flex;
        align-items: center;

        height: 44px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;
    }

    &__btn {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        padding: 0 20px;

        @include abstracts.screen(md) {
            gap: 6px;
            padding: 0 16px;
        }

        &-value {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            &--large {
                font-size: 1.6rem;
                line-height: 150%;
                color: #9e9da8;
            }
        }

        &--dual {
            &:first-child {
                padding-right: 10px;
            }

            &:last-child {
                padding-left: 10px;
            }
        }

        &--act {
            min-height: inherit;
            padding: 0;

            &:first-child {
                padding-right: 5px;
            }

            &:last-child {
                padding-left: 5px;
            }
        }
    }
}

.checkout-bottom {
    padding-top: 30px;

    &__left {
        display: flex;
        align-items: flex-end;

        height: 100%;
    }
}

.checkout-back {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;

    &__icon {
        rotate: 90deg;
        transition: translate 0.25s;
    }

    &:hover &__icon {
        translate: -5px;
    }
}

.checkout-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;

    & + & {
        margin-top: 10px;
    }

    &--bold {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
    }

    @include abstracts.screen(md) {
        font-size: 1.6rem;
        line-height: 150%;
    }
}

.checkout-separate {
    margin: 30px 0;
    height: 1px;
    background-color: var(--checkout-page-border-color);

    &--margin-small {
        margin: 20px 0;
    }
}

.gift {
    display: flex;
    align-items: center;
    gap: 20px;

    @include abstracts.screen(md) {
        gap: 16px;
    }

    &__thumb {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 76px;
        height: 76px;
        border-radius: 14px;
        background: rgb(118, 68, 225, 0.1);
        box-shadow: 0px 20px 60px 10px var(--checkout-page-info-shadow-color);

        &-image {
            width: 56px;
            height: 56px;
            object-fit: contain;
        }

        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;

            &-image {
                width: 44.211px;
                height: 44.211px;
            }
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }
}
