/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ***************************** Base CSS ***************************** */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Gordita, sans-serif;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

a,
input,
select,
textarea,
button,
img,
label {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

button,
label {
  user-select: none;
}

ul,
li {
  list-style: none;
}

.icon {
  filter: var(--icon-color);
}

body {
  color: var(--text-color-primary);
  background-color: var(--body-bg-color);
}

/* ******************* Grid System ******************* */
/********** Grid System **********/
.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--grid-gutter-y));
  margin-left: calc(-1 * var(--grid-gutter-x) * 0.5);
  margin-right: calc(-1 * var(--grid-gutter-x) * 0.5);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-col-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-col-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-col-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-col-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-col-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-col-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.row-col-7 > * {
  flex: 0 0 auto;
  width: 14.2857142857%;
}

.row-col-8 > * {
  flex: 0 0 auto;
  width: 12.5%;
}

.row-col-9 > * {
  flex: 0 0 auto;
  width: 11.1111111111%;
}

.row-col-10 > * {
  flex: 0 0 auto;
  width: 10%;
}

.row-col-11 > * {
  flex: 0 0 auto;
  width: 9.0909090909%;
}

.row-col-12 > * {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media screen and (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-col-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-col-xxl-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-col-xxl-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-col-xxl-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-col-xxl-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-col-xxl-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-col-xxl-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-col-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-col-xl-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-col-xl-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-col-xl-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-col-xl-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-col-xl-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-col-xl-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-col-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-col-lg-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-col-lg-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-col-lg-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-col-lg-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-col-lg-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-col-lg-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-col-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-col-md-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-col-md-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-col-md-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-col-md-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-col-md-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-col-md-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-col-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-col-sm-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-col-sm-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-col-sm-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-col-sm-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-col-sm-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-col-sm-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
/* ***************************** Utils: Display CSS ***************************** */
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media screen and (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media screen and (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media screen and (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media screen and (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media screen and (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
/* ****************** Mixin Sass ****************** */
/********** Mixin **********/
html {
  --body-bg-color: #f6f6f6;
  --text-color-primary: #1a162e;
  --text-color-second: #000;
  --text-color-third: #9e9da8;
  --icon-color: brightness(0) saturate(100%) invert(10%) sepia(34%) saturate(911%) hue-rotate(210deg) brightness(91%)
      contrast(100%);
  --header-bg-color: #eee;
  --top-act-wrap-bg-color: #fff;
  --top-act-wrap-shadow-color: rgba(237, 237, 246, 0.2);
  --top-act-btn-border-color: #ededf6;
  --top-act-user-bg-color: #dfd2fa;
  --top-act-user-shadow-color: rgba(0, 0, 0, 0.08);
  --dropdown-inner-bg-color: #fff;
  --dropdown-inner-shadow-color: rgba(200, 200, 200, 0.4);
  /******************** RESPONSIVE ********************/
}
@media screen and (max-width: 767.98px) {
  html {
    --header-bg-color: #fff;
  }
}

html.dark {
  --body-bg-color: #292e39;
  --text-color-primary: #fff;
  --text-color-second: #fff;
  --text-color-third: #9e9da8;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7384%) hue-rotate(38deg) brightness(101%)
      contrast(88%);
  --header-bg-color: #171c28;
  --top-act-wrap-bg-color: #292e39;
  --top-act-wrap-shadow-color: rgba(0, 0, 0, 0.2);
  --top-act-btn-border-color: #ededf6;
  --top-act-user-bg-color: #dfd2fa;
  --top-act-user-shadow-color: rgba(0, 0, 0, 0.08);
  --dropdown-inner-bg-color: #323743;
  --dropdown-inner-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-bg-color: brightness(0) saturate(100%) invert(18%) sepia(4%) saturate(2366%) hue-rotate(185deg)
      brightness(100%) contrast(91%);
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  height: 50px;
  user-select: none;
}
.logo__image {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.logo__text {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
  color: var(--text-color-primary);
}

.navbar-menu {
  margin-left: 144px;
  margin-right: auto;
}
@media screen and (max-width: 1199.98px) {
  .navbar-menu {
    margin-left: 60px;
  }
}
.navbar-menu__list {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}
.navbar-menu__item:hover .dropdown {
  display: block;
}
.navbar-menu__item-link {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 50px;
  padding: 0 15px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
  color: var(--text-color-primary);
  user-select: none;
}
.navbar-menu__item-icon {
  padding-top: 2px;
}

.navbar-dropdown__top {
  position: relative;
}

.navbar-dropdown-menu__main {
  width: 293px;
  padding-right: 30px;
  border-right: 1px solid #d2d1d6;
}
.navbar-dropdown-menu__column {
  display: flex;
  gap: 14px;
}
.navbar-dropdown-menu__column + .navbar-dropdown-menu__column {
  margin-top: 24px;
}
.navbar-dropdown-menu__icon {
  flex-shrink: 0;
  position: relative;
  width: 36px;
  height: 36px;
  user-select: none;
}
.navbar-dropdown-menu__icon-img {
  position: absolute;
}
.navbar-dropdown-menu__icon-img:first-child {
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.navbar-dropdown-menu__icon-img:last-child {
  right: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.navbar-dropdown-menu__content {
  flex: 1;
  margin-right: -30px;
}
.navbar-dropdown-menu__title {
  display: flex;
  align-items: center;
  height: 36px;
  font-size: 1.6rem;
  font-weight: 500;
  user-select: none;
}
.navbar-dropdown-menu__list {
  margin-top: 12px;
  width: 100%;
  height: min(474px, 100vh - 188px - var(--padding) * 2);
  overflow-y: auto;
}
.navbar-dropdown-menu__item:last-child .navbar-dropdown-menu__link {
  margin-bottom: -7px;
}
.navbar-dropdown-menu__item--active > .navbar-dropdown-menu__link, .navbar-dropdown-menu__item:hover > .navbar-dropdown-menu__link {
  text-shadow: 0.3px 0.3px #0071dc, -0.3px -0.3px #0071dc;
  color: #0071dc;
}
.navbar-dropdown-menu__item--active .navbar-dropdown-menu__sub {
  display: grid;
}
.navbar-dropdown-menu__link {
  display: block;
  padding: 7px 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
}
.navbar-dropdown-menu__sub {
  position: absolute;
  inset: 0 0 0 293px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--padding);
  padding-left: var(--padding);
  overflow-y: auto;
}
.navbar-dropdown-menu__sub .navbar-dropdown-menu__content {
  margin-right: 0;
}
.navbar-dropdown-menu__sub-list {
  height: auto;
  overflow: unset;
}
.navbar-dropdown-menu__sub--not-main {
  position: initial;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--padding);
  padding-left: 0;
  height: min(522px, 100vh - 140px - var(--padding) * 2);
  overflow-y: auto;
}

.dropdown {
  position: absolute;
  left: 0;
  width: 1240px;
  max-width: 100%;
  padding-top: 38px;
  display: none;
}
.dropdown__inner {
  --padding: 30px;
  position: relative;
  background-color: orange;
  padding: var(--padding);
  border-radius: 20px;
  background: var(--dropdown-inner-bg-color);
  box-shadow: 0px 40px 90px 20px var(--dropdown-inner-shadow-color);
}
.dropdown__inner::before {
  content: url(../icons/dropdown-arrow.svg);
  position: absolute;
  top: -14px;
  left: var(--arrow-left-pos);
  transform: translateX(-50%);
  filter: var(--dropdown-arrow-bg-color);
}

.header {
  background-color: var(--header-bg-color);
}
.header-inner {
  position: relative;
  display: flex;
  align-items: center;
  height: 90px;
}
@media screen and (max-width: 767.98px) {
  .header__logo {
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
  .header__logo-image {
    width: 24px;
    height: 24px;
  }
  .header__logo-text {
    font-size: 1.8rem;
  }
}

.menu-bar__icon {
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  width: 42px;
  height: 50px;
  padding: 0 12px;
}
@media screen and (max-width: 767.98px) {
  .menu-bar__icon {
    margin-right: 0;
    margin-left: -12px;
    padding: 0 12px;
  }
}
.menu-bar__icon-img {
  width: 100%;
  object-fit: contain;
}

.top-act {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}
.top-act__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 13px 0;
  border-radius: 8px;
  background: var(--top-act-wrap-bg-color);
  box-shadow: 0px 20px 60px 10px var(--top-act-wrap-shadow-color);
}
.top-act__wrap--double {
  padding: 10px 0;
}
.top-act__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 0 14.5px;
  cursor: pointer;
}
.top-act__wrap--double .top-act__btn {
  padding: 0 20px;
}
.top-act__btn + .top-act__btn {
  border-left: 1px solid var(--top-act-btn-border-color);
}
.top-act__btn-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
  color: var(--text-color-primary);
}
.top-act__user {
  height: 50px;
}
.top-act__user-avatar {
  width: 50px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  background: var(--top-act-user-bg-color);
  box-shadow: 0px 4px 14px 2px var(--top-act-user-shadow-color);
  cursor: pointer;
  user-select: none;
}

.home__heading {
  color: var(--text-color);
}

/*# sourceMappingURL=main.css.map */
