@use "../abstracts";

.breadcrumbs {
    display: flex;
    align-items: center;

    min-height: 64px;
    padding: 0 20px;
    border-radius: 10px;
    background: var(--breadcrumbs-bg-color);
    box-shadow: 0px 20px 60px 10px var(--breadcrumbs-shadow-color);

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 20px;

        @include abstracts.screen(md) {
            gap: 0 16px;
            padding: 8px 0;
        }
    }

    &__item:last-child &__link {
        color: inherit;
        cursor: default;
    }

    &__item:last-child &__icon {
        display: none;
    }

    &__item:not(:last-child) &__link:hover {
        color: inherit;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;

        padding: 10px 0;

        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
        color: #9e9da8;

        white-space: nowrap;

        @include abstracts.screen(md) {
            padding: 8px 0;

            font-size: 1.4rem;
        }
    }

    &__icon {
        display: block;
        margin-bottom: -2px;
    }
}
