.dropdown {
    position: absolute;
    left: 0;
    padding-top: 38px;
    display: none;

    &__inner {
        position: relative;
        padding: 30px;
        border-radius: 20px;
        background: var(--dropdown-inner-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-inner-shadow-color);

        &::before {
            content: url(../icons/dropdown-arrow.svg);
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
            filter: var(--dropdown-arrow-bg-color);
        }
    }
}
