@use "../abstracts";

.navbar-menu {
    margin-left: 144px;
    margin-right: auto;

    @include abstracts.screen(xl) {
        margin-left: 60px;
    }

    &__list {
        display: flex;
        align-items: center;
        margin: 0 -15px;
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 6px;

            height: 50px;
            padding: 0 15px;

            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            color: var(--text-color-primary);
            user-select: none;
        }

        &-icon {
            padding-top: 2px;
        }
    }
}

.navbar-dropdown__top {
    position: relative;
}

.navbar-dropdown-menu {
    // Dropdown menu main
    &__main {
        width: 293px;
        padding-right: 30px;
        border-right: 1px solid #d2d1d6;
    }

    &__column {
        display: flex;
        gap: 14px;

        & + & {
            margin-top: 26px;
        }
    }

    &__icon {
        flex-shrink: 0;
        position: relative;
        width: 36px;
        height: 36px;
        user-select: none;

        &-img {
            position: absolute;

            &:first-child {
                top: 0;
                left: 0;

                width: 30px;
                height: 30px;
                object-fit: contain;
            }

            &:last-child {
                right: 0;
                bottom: 0;

                width: 24px;
                height: 24px;
                object-fit: contain;
            }
        }
    }

    &__content {
        flex: 1;
        margin-right: -30px;
    }

    &__title {
        display: flex;
        align-items: center;

        height: 36px;
        font-size: 1.6rem;
        font-weight: 500;
        user-select: none;
    }

    &__list {
        margin-top: 12px;
        width: 100%;

        height: min(474px, 100vh - 188px - var(--padding) * 2);
        overflow-y: auto;
    }

    &__item {
        &:last-child .navbar-dropdown-menu__link {
            margin-bottom: -7px;
        }

        &--active > .navbar-dropdown-menu__link,
        &:hover > .navbar-dropdown-menu__link {
            text-shadow: 0.3px 0.3px #0071dc, -0.3px -0.3px #0071dc;
            // font-weight: 500;
            color: #0071dc;
        }

        &--active .navbar-dropdown-menu__sub {
            display: grid;
        }
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }

    // Dropdown menu sub
    &__sub {
        position: absolute;
        inset: 0 0 0 293px;

        display: none;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--padding);

        padding-left: var(--padding);
        // background-color: orange;

        overflow-y: auto;

        &-column {
        }

        .navbar-dropdown-menu__content {
            margin-right: 0;
        }

        &-list {
            height: auto;
            overflow: unset;
        }
    }
}
