@use "../abstracts";

.navbar-menu {
    margin-left: 144px;
    margin-right: auto;

    @include abstracts.screen(xl) {
        margin-left: 60px;
    }

    @include abstracts.screen(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;

        margin-left: 0;
        padding-top: 20px;
        border-radius: 0px 20px 20px 0px;
        background-color: var(--navbar-menu-bg-color);

        translate: -110%;
        transition: translate 0.35s;

        &.show {
            translate: 0;
            box-shadow: 0px 40px 90px 20px var(--navbar-menu-shadow-color);
        }

        &.show ~ &__overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    @include abstracts.screen(md) {
        inset: 0 20% 0 0;
        padding-top: 10px;
    }

    &__back {
        padding: 10px 30px;

        @include abstracts.screen(md) {
            padding: 10px 20px;
        }
    }

    &__overlay {
        position: fixed;
        inset: 0;
        z-index: 8;

        background-color: rgba($color: #000000, $alpha: 0.4);

        opacity: 0;
        visibility: hidden;
        transition: opacity, visibility;
        transition-duration: 0.35s;
    }

    &__act {
        align-items: center;

        height: 50px;
        padding: 0 30px;

        @include abstracts.screen(md) {
            height: 42px;
            padding: 0 20px;
        }

        &-title,
        &-value {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }

        &-title {
            margin: 0 auto 0 18px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        margin: 0 -15px;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;

            margin: 0;

            // background-color: orange;
            height: max(350px, 100vh - 60px);
            overflow-y: auto;
            overscroll-behavior: contain;
        }

        @include abstracts.screen(md) {
            height: max(350px, 100vh - 250px);
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen(lg) {
            width: 100%;

            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 6px;

            height: 50px;
            padding: 0 15px;

            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            color: var(--text-color-primary);
            user-select: none;

            @include abstracts.screen(lg) {
                justify-content: space-between;

                width: 100%;
                padding: 0 30px;
            }

            @include abstracts.screen(md) {
                height: 44px;
                padding: 0 20px;

                font-size: 1.6rem;
                line-height: 150%;
            }
        }

        &-icon {
            padding-top: 2px;

            @include abstracts.screen(lg) {
                rotate: -90deg;
                transition: rotate 0.25s;

                .navbar-menu__item--active & {
                    rotate: 0deg;
                }
            }
        }
    }
}

.navbar-dropdown__top {
    position: relative;
}

.navbar-dropdown-menu {
    // Dropdown menu main
    &__main {
        width: 293px;
        padding-right: 30px;
        border-right: 1px solid #d2d1d6;

        @include abstracts.screen(lg) {
            width: 100%;
            border-right: none;
        }
    }

    &__column {
        display: flex;
        gap: 14px;

        & + & {
            margin-top: 24px;
        }
    }

    &__icon {
        flex-shrink: 0;
        position: relative;
        width: 36px;
        height: 36px;
        user-select: none;

        @include abstracts.screen(xl) {
            display: none;
        }

        @include abstracts.screen(lg) {
            .navbar-dropdown-menu__sub & {
                display: block;
            }
        }

        &-img {
            position: absolute;

            &:first-child {
                top: 0;
                left: 0;

                width: 30px;
                height: 30px;
                object-fit: contain;
            }

            &:last-child {
                right: 0;
                bottom: 0;

                width: 24px;
                height: 24px;
                object-fit: contain;
            }
        }
    }

    &__content {
        flex: 1;
        margin-right: -30px;

        @include abstracts.screen(lg) {
            margin-right: 0;
        }
    }

    &__title {
        display: flex;
        align-items: center;

        height: 36px;
        font-size: 1.6rem;
        font-weight: 500;
        user-select: none;

        @include abstracts.screen(lg) {
            display: none;

            .navbar-dropdown-menu__sub & {
                display: flex;
            }
        }
    }

    &__list {
        margin-top: 12px;
        width: 100%;

        height: min(474px, 100vh - 188px - var(--padding) * 2);
        overflow-y: auto;

        @include abstracts.screen(lg) {
            margin-top: 0;
            height: auto;
            overflow-y: unset;
        }
    }

    &__item {
        &:last-child .navbar-dropdown-menu__link {
            margin-bottom: -7px;
        }

        &--active > .navbar-dropdown-menu__link,
        &:hover > .navbar-dropdown-menu__link {
            text-shadow: 0.3px 0.3px #0071dc, -0.3px -0.3px #0071dc;
            // font-weight: 500;
            color: #0071dc;

            @include abstracts.screen(md) {
                text-shadow: 0.2px 0.2px #0071dc, -0.2px -0.2px #0071dc;
            }
        }

        &--active .navbar-dropdown-menu__sub {
            display: grid;
        }
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;

        @include abstracts.screen(md) {
        }
    }

    // Dropdown menu sub
    &__sub {
        position: absolute;
        inset: 0 0 0 293px;

        display: none;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--padding);

        padding-left: var(--padding);
        // background-color: orange;

        overflow-y: auto;

        @include abstracts.screen(lg) {
            position: initial;
            inset: unset;

            grid-template-columns: 1fr;

            padding-left: 0;
            overflow-y: unset;
        }

        &-column {
        }

        .navbar-dropdown-menu__content {
            margin-right: 0;
        }

        &-list {
            height: auto;
            overflow: unset;

            @include abstracts.screen(lg) {
                margin-top: 13px;
            }
        }

        // Dropdown menu sub main
        &--not-main {
            position: initial;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: var(--padding);
            padding-left: 0;

            height: min(522px, 100vh - 140px - var(--padding) * 2);
            overflow-y: auto;

            @include abstracts.screen(lg) {
                grid-template-columns: 1fr;
                height: auto;
                overflow-y: unset;
            }
        }
    }
}
