@use "../abstracts";

.review-card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 100%;
    padding: 30px;
    border-radius: 16px;
    background: var(--review-card-bg-color);

    @include abstracts.screen(md) {
        padding: 20px;
    }

    &__content {
        display: flex;
        gap: 20px;

        @include abstracts.screen(xl) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        @include abstracts.screen(md) {
            flex-direction: row;
            align-items: initial;
            text-align: initial;
        }

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        user-select: none;

        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;
        }
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
            line-height: 144.444%;
        }
    }

    &__desc {
        margin-top: 10px;

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
    }

    &__rating {
        margin-top: auto;

        display: flex;
        align-items: center;
        gap: 8px;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(md) {
            flex-direction: row;
        }

        @include abstracts.screen(sm) {
            flex-direction: column;
        }
    }

    &__star-list {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__star {
        user-select: none;
    }

    &__score {
        margin-left: 12px;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
}
