@use "../abstracts";

.text-content {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;

    & > *:first-child {
        margin-top: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
    }

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.6rem;
    }

    h6 {
        font-size: 1.4rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    img,
    figure,
    blockquote,
    ul,
    ol {
        margin: 20px 0;
    }

    img {
        display: block;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    img + em {
        display: block;
        text-align: center;
        font-size: 1.4rem;
        font-style: italic;
    }

    a {
        color: #ffb700;

        &:hover {
            text-decoration: underline;
        }
    }

    hr {
        margin: 40px 0;
        border: none;
        height: 1px;
        background-color: #ebebeb;
    }

    i,
    em {
        font-style: italic;
    }

    b,
    strong {
        font-weight: 500;
    }

    u {
        text-decoration: underline;
    }

    blockquote {
        padding: 20px;
        border-left: 3px solid #ffb700;
        background: rgb(255 183 0 / 10%);
        p {
            margin: 0;
        }
    }
}
