@use "../abstracts";

html.dark {
    // Body color
    --body-bg-color: #292e39;

    // Text color
    --text-color-primary: #fff;
    --text-color-second: #fff;
    --text-color-third: #9e9da8;

    // icon color
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7384%) hue-rotate(38deg) brightness(101%) contrast(88%);

    // Header
    --header-bg-color: #171c28;

    // Top act
    --top-act-wrap-bg-color: #292e39;
    --top-act-wrap-shadow-color: rgba(0, 0, 0, 0.2);
    --top-act-btn-border-color: #ededf6;
    --top-act-user-bg-color: #dfd2fa;
    --top-act-user-shadow-color: rgba(0, 0, 0, 0.08);

    // Dropdown Menu
    --dropdown-inner-bg-color: #323743;
    --dropdown-inner-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-bg-color: brightness(0) saturate(100%) invert(18%) sepia(4%) saturate(2366%) hue-rotate(185deg) brightness(100%) contrast(91%);

    // Navbar Menu
    --navbar-menu-bg-color: #292e39;
    --navbar-menu-shadow-color: rgba(23, 28, 40, 0.4);

    // Category : Home Page
    --category-item-bg-color: #171c28;
    --category-item-thumb-bg-color: #292e39;

    // Filter btn
    --filter-btn-bg-color: #171c28;
    --filter-btn-label-color: #fff;

    // Filter Form
    --filter-inner-bg-color: #323743;
    --filter-inner-shadow-color: rgba(23, 28, 40, 0.4);
    --filter-inner-arrow-up-color: brightness(0) saturate(100%) invert(18%) sepia(4%) saturate(2366%) hue-rotate(185deg) brightness(100%) contrast(91%);

    // Form
    --form-slider-before-after-bg-color: #323743;
    --form-select-label-bg-color: #171c28;

    // Product item
    --product-item-bg-color: #171c28;
    --product-item-shadow-color: rgba(0, 0, 0, 0.2);
    --product-item-favorite-bg-color: #292e39;
    --product-item-favorite-shadow-color: rgba(124, 124, 124, 0.2);

    // Footer
    --footer-bg-color: #171c28;
    --footer-form-group-bg-color: transparent;
    --footer-form-group-border-color: #d4d4d8;
    --footer-form-input-placeholder-color: #64748b;
    --footer-form-btn-bg-color: #2563eb;
    --footer-form-btn-color: #fff;
    --footer-info-label-color: #64748b;
    --footer-info-value-hover-color: #f94545;
    --footer-bottom-border-color: #64748b;

    // Social
    --social-item-hover-bg-color: #77dae6;
    --social-item-icon-hover-bg-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2701%) hue-rotate(160deg) brightness(106%) contrast(92%);

    /******************** RESPONSIVE ********************/

    // Filter btn
    @include abstracts.screen(md) {
        --filter-btn-label-color: #fff;
    }
}
