@use "../abstracts";

html {
    // Body color
    --body-bg-color: #f6f6f6;

    // Text color
    --text-color-primary: #1a162e;
    --text-color-second: #000;
    --text-color-third: #9e9da8;

    // icon color
    --icon-color: brightness(0) saturate(100%) invert(10%) sepia(34%) saturate(911%) hue-rotate(210deg) brightness(91%) contrast(100%);

    // Header
    --header-bg-color: #eee;

    // Top act
    --top-act-wrap-bg-color: #fff;
    --top-act-wrap-shadow-color: rgba(237, 237, 246, 0.2);
    --top-act-btn-border-color: #ededf6;
    --top-act-user-bg-color: #dfd2fa;
    --top-act-user-shadow-color: rgba(0, 0, 0, 0.08);

    // Dropdown Menu
    --dropdown-inner-bg-color: #fff;
    --dropdown-inner-shadow-color: rgba(200, 200, 200, 0.4);

    // Navbar Menu
    --navbar-menu-bg-color: #fff;
    --navbar-menu-shadow-color: rgba(200, 200, 200, 0.4);

    // Category : Home Page
    --category-item-bg-color: #eee;
    --category-item-thumb-bg-color: #fff;

    // Filter btn
    --filter-btn-bg-color: #fff;
    --filter-btn-label-color: #6c6c72;

    // Filter Form
    --filter-inner-bg-color: #fff;
    --filter-inner-shadow-color: rgba(200, 200, 200, 0.4);

    // Form
    --form-slider-before-after-bg-color: #fff;
    --form-select-label-bg-color: #f8f8fb;

    // Product item
    --product-item-bg-color: #fff;
    --product-item-shadow-color: rgba(237, 237, 246, 0.2);
    --product-item-favorite-bg-color: #fff;
    --product-item-favorite-shadow-color: rgba(124, 124, 124, 0.2);

    // Footer
    --footer-bg-color: #fff;
    --footer-form-group-bg-color: #fff;
    --footer-form-group-border-color: #d4d4d8;
    --footer-form-input-placeholder-color: #64748b;
    --footer-form-btn-bg-color: #2563eb;
    --footer-form-btn-color: #fff;
    --footer-info-label-color: #64748b;
    --footer-info-value-hover-color: #f94545;
    --footer-bottom-border-color: #e4e4e7;

    // Social
    --social-item-hover-bg-color: #77dae6;
    --social-item-icon-hover-bg-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2701%) hue-rotate(160deg) brightness(106%) contrast(92%);

    /******************** RESPONSIVE ********************/

    // Header
    @include abstracts.screen(md) {
        --header-bg-color: #fff;
    }

    // Filter btn
    @include abstracts.screen(md) {
        --filter-btn-label-color: #1a162e;
    }
}
